
.form-container {
    position: absolute;
    justify-content: center; /* center the child elements horizontally */
    align-items: center;
    width: 50%;
    height: calc(100vh - 18vh);
    left: 50%;
    overflow-y: auto;

}


main{
    min-height: calc(100vh - 12rem);
}
.main-content {


}

.container {
}

.header {
    text-align: center;
    background: rgb(242, 149, 83);
    color: white;
    font-size: 30px;
    width: 100%;
    position: fixed ;
    height: 100px;
}


.form {
    position: absolute;
    text-align: center;
    padding: 1rem;

    top:0;

    min-width: 60vh;
    height: calc(100vh - 18vh);
    background-color: rgba(238, 235, 235, 0.38);
    margin-top: 1rem;
    border-radius: 0px;
    color: #000000;
    z-index: 2;
    max-height: 74vh;


}
input{
    /*width: 100%;*/
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: content-box;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;


}



.navigation {
    position: relative;
    text-align: center;
    width: 100%;
    top: 100px; /* set the top position to the height of the header */
    background-color: red;

}



/*.firstname-box {*/
/*    width: 50px;*/
/*    font-size: 10px ;*/
/*}*/





/*.links {*/

/*    background: blue;*/
/*    color: white;*/

/*}*/

/*.information {*/
/*    padding: 60px;*/
/*    text-align: center;*/
/*    background: red;*/
/*    color: white;*/
/*    width: 200vh;*/

/*}*/


/*!* CSS property for header section *!*/


/*!* CSS property for navigation menu *!*/
/*.nav_menu {*/
/*    overflow: hidden;*/
/*    background-color: #333;*/
/*}*/
/*.nav_menu a {*/
/*    float: left;*/
/*    display: block;*/
/*    color: white;*/
/*    text-align: center;*/
/*    padding: 14px 16px;*/
/*    text-decoration: none;*/
/*}*/
/*.nav_menu a:hover {*/
/*    background-color: white;*/
/*    color: green;*/
/*}*/

