
.form-container {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: calc(100vh - 18vh);
    left: 50%;
    overflow-y: auto;

}


main{
    min-height: calc(100vh - 12rem);
}
.main-content {


}

.container {
}

.header {
    text-align: center;
    background: rgb(242, 149, 83);
    color: white;
    font-size: 30px;
    width: 100%;
    position: fixed ;
    height: 100px;
}


.form {
    position: absolute;
    text-align: center;
    padding: 1rem;

    top:0;

    min-width: 60vh;
    height: calc(100vh - 18vh);
    background-color: rgba(238, 235, 235, 0.38);
    margin-top: 1rem;
    border-radius: 0px;
    color: #000000;
    z-index: 2;
    max-height: 74vh;


}
input{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: content-box;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;


}



.navigation {
    position: relative;
    text-align: center;
    width: 100%;
    top: 100px;
    background-color: red;

}

.payment_submitbutton {
    Cursor: pointer;

    justify-content: center;
    align-items: center;
    width: 25%;
    height: 4rem;
    font-size: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(229, 229, 229, 0.38);
}
.payment_submitbutton:hover {
    background-color: rgba(73, 201, 9, 0.38);;
}




