/*.form {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100vh;*/
/*}*/

root, body {
    width: 100%;
    padding: 0;
    margin: 0;
}

.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}



input{
    /*width: 100%;*/
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: content-box;
    border-radius: 20px;

}



/*.firstname-box {*/
/*    width: 50px;*/
/*    font-size: 10px ;*/
/*}*/





/*.links {*/

/*    background: blue;*/
/*    color: white;*/

/*}*/

/*.information {*/
/*    padding: 60px;*/
/*    text-align: center;*/
/*    background: red;*/
/*    color: white;*/
/*    width: 200vh;*/

/*}*/


/*!* CSS property for header section *!*/


/*!* CSS property for navigation menu *!*/
/*.nav_menu {*/
/*    overflow: hidden;*/
/*    background-color: #333;*/
/*}*/
/*.nav_menu a {*/
/*    float: left;*/
/*    display: block;*/
/*    color: white;*/
/*    text-align: center;*/
/*    padding: 14px 16px;*/
/*    text-decoration: none;*/
/*}*/
/*.nav_menu a:hover {*/
/*    background-color: white;*/
/*    color: green;*/
/*}*/

