h1 {
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10px;
    font-weight: 700;
    color: #1A120B;
}


div {
    width: fit-content;
    text-align: center;

}

td{border-bottom-style: dashed;
    border-right-style: solid;
    text-align: center;

}


.sum{text-align: center}
body{

}
table {
    background-color: #FFF;
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: auto;
    font-family: sans-serif;
    border: 1px solid #ddd;
}

th {
    text-align: left;
    background-color: #EDDBC7;
    padding: 8px;

}

td {
    padding: 8px;
    border-bottom: 2px solid #ddd;

}

tr:nth-child(even) {
    background-color: #F8EAD8;
}

button {
    background: white;
    border: none;
    color: red;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10%;
    margin: 4px 10px;
    outline: #535bf2 2px solid;
}

button:hover {
    outline: red 2px solid;
    opacity: 0.6;
    transition: 4.9s ease;
}

.total {
    font-weight: bold;
    text-align: right;
    padding: 8px;
}

.total span {
    color: #4CAF50;
}

.id-headers{
    font-weight: bolder;
}

/* overflow*/
.myDiv{
    border: 2px solid #000;
    padding: 15px;
    overflow-y: auto;
    height: 200px;

}


table{
    position: absolute;
    left: 25%;
}

.oldPrice {
    text-decoration: line-through;
    color: red;
}
.newPrice {
    font-weight: bold;
    color: green;
}