input:required:invalid {
    border: 1px solid #cc0f0f;
}
input:required:valid {
    border: 3px solid Green;
}
input:valid {
    border: 1px solid black;
}

.labels_form{
    font-size: 18px;


}

.payment_submitbutton {
    Cursor: pointer;

    justify-content: center;
    align-items: center;
    width: 25%;
    height: 4rem;
    font-size: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(229, 229, 229, 0.38);
}
.payment_submitbutton:hover {
    background-color: rgba(73, 201, 9, 0.38);;
}